body { 
    background-color: #1E1E2E; 
    color: #cdd6f4; 
    font-family: monospace, monospace; 
    font-size: 15px; 
    line-height: 1.14; 
    margin: auto; 
    width: fit-content }

    a { color: #89b4fa; text-decoration: none; }
   

    r { color: #f38ba8;}  /* red    */           
    y { color: #f9e2af;}  /* yellow */           
   bl { color: #89b4fa;}  /* blue   */           
    g { color: #a6e3a1;}  /* green  */           
   pk { color: #f5c2e7;}  /* pink   */           
   pl { color: #cba6f7;}  /* purple */

   /* figlet fonts: modular, future */
