@font-face {
  font-family: "DejaVu Sans Mono";
  src: url(https://raw.githubusercontent.com/m33ls/m33ls.github.io/main/DejaVuSansMono.tff) format("truetype")
}

body {
  background-color: #19191a;
  color: white;
  font-family: monospace, monospace;
}

pre {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 1em;
  line-height: 1;
  -webkit-text-size-adjust: 150%;
}

a {
  color: #f3838f;
}

.title {
  color: #b096f0;
  display: inline;
}