
@font-face {
    font-family: "vga";
    src: url("media/WebPlus_IBM_VGA_8x16.woff") format("woff"),
         url("media/Flexi_IBM_VGA_False.ttf") format("truetype");
}

body { 
    background-color: #000;	
    font-family: "vga", monospace;
    color: #cdd6f4; 
    font-size: 16px; 
    line-height: 1.14; 
    margin: auto; 
    width: fit-content }

  pre { font-family: "vga", monospace; }
 mono { font-family: monospace, monospace; }
    a { color: #89b4fa; text-decoration: none; }
   

    r { color: #f38ba8;}  /* red    */           
    y { color: #f9e2af;}  /* yellow */           
   bl { color: #89b4fa;}  /* blue   */           
    g { color: #a6e3a1;}  /* green  */           
   pk { color: #f5c2e7;}  /* pink   */           
   pl { color: #cba6f7;}  /* purple */

   /* figlet fonts: modular, future */

.photo {
	width: 90%;
	vertical-align: middle;
	padding: 6px;
}

@media screen and (max-width: 1000px) {
	.column {
		flex:100%;
		max-width 100%;
	}
}
